#players-main{
    display: flex;
    justify-content: space-between;
}

.small{
    width: 28em;
}

.large{
    width: 38em;
}




//////////////////////////////

.score-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .score-panel button {
    width: 195px;
    height: 52px;
    border: none;
    background-color: #bcced9;
    border-radius: 20px;
    color: #304859;
  }


  .current-rate{ 

    button {
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

  span {
    padding-left: 10px;
    padding-right: 10px;
  }

  }
  .timing {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .clock,
  .moving {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #7191a5;
  }

  .displayTime,
  .moves {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: right;
    position: relative;
    right: 10px;
    color: #304859;
  }
