#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5{
        color: #304859;
        font-size: large;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        width: 13em;

        @media (max-width: 767px) {
            // styles that apply only to screens smaller than the breakpoint
            width: 13em;
          }
    }
}

.small{
    width: 28em;

    @media (max-width: 767px) {
        // styles that apply only to screens smaller than the breakpoint
        width: 25em;
      }
}

.large{
    width: 38em;

    @media (max-width: 767px) {
        // styles that apply only to screens smaller than the breakpoint
        width: 30em;
      }
}